$page-background-color:#FCF6F5;

$btn-color-primary: #FFC348;
$btn-color-secondary: #FFEABA; 
$text-color: #6E4C1E;
$text-color-primary:#474645;
$text-danger: #FF0000;

$font-size-xs:8px;
$font-size-s:10px;
$font-size-md:14px;
$font-size-l:18px;
$font-size-xl:24px;

$spacing-1: 4px;
$spacing-2: 8px;
$spacing-3: 12px;
$spacing-4: 16px;
$spacing-5: 20px;
$spacing-6: 24px;
$spacing-7: 28px;
$spacing-8: 32px;
$spacing-9: 36px;
$spacing-10: 40px;

$border-1: 1px;
$border-2: 2px;

$border-color:#6E4C1E;

$opacity-default:0.8;